* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #2b2b2b;
    background-color: #FBE8A6;
}

h2 {
    text-transform: capitalize;
}

header {
    background-color: #303C6C;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #303C6C;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

a {
    color: #F4976C;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
}

.container {
    width: 55%;
    margin: 0 auto;
    padding: 0 20px;
}

.banner {
    position: relative;
    height: 480px;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(65%);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
}

.profile-image {
    display: block;
    height: auto;
    max-width: 250px;
    margin: 30px auto;
}