* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, 'Segoui UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    color: #2b2b2b;
    background-color: #FBE8A6;
}

h2 {
    text-transform: capitalize;
}

header {
    background-color: #303C6C;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}

.icons {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    background-color: #303C6C;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

a {
    color: #F4976C;
}

aside {
    width: 18%;
    padding: 20px;
    margin: 25px 0;
    border-right:solid 2px #F4976C;
}

main{
    flex: 1;
    padding: 20px;
    max-width: 60%;
}

.container {
    display: flex;
    gap: 20px;
}

.header-container li {
    display: inline-block;
    list-style-type: none;
    margin: 0 25px 0 25px; 
}

#sidebar ul li {
    list-style-type: square;
    margin-left: 20px;
}

#logo {
    color: #FFFFFF;
    font-size: 24px;
}

.main-content {
    margin: 0 20px;
}

.banner {
    position: relative;
    height: 480px;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(65%);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
}

#profile-image {
    display: block;
    height: auto;
    max-width: 250px;
    margin: 10px auto;
}

.discover__item img{
    max-width: 350px;
    height: auto;
}